# pixi environments
.pixi/*
!.pixi/config.toml
__pycache__
rosbag2_*/
*.mcap
orbbec_ws/
zed_ws/
build
install
log
src
# findanything workspace (colcon --build-base/--install-base)
build_fa
install_fa
*.md
!README.md